DATABASE_URL="file:./dev.db"
AUTH_SECRET="replace-me"
SEED_SHIFT_1_PASSWORD="replace-me"
SEED_SHIFT_2_PASSWORD="replace-me"
SEED_SHIFT_3_PASSWORD="replace-me"
SEED_SHIFT_4_PASSWORD="replace-me"
SEED_BOSS_PASSWORD="replace-me"
SEED_STOREKEEPER_PASSWORD="replace-me"
SEED_ADMIN_PASSWORD="replace-me"
